{% extends 'base.html' %}

{% block content %}

<main>
    <h1>Hello World LIST</h1>
    <br>
    <form action="/account/hello_world/" method="post">
        {% csrf_token %}
        <input type="text" name="hello_world_input">
        <br>
        <input type="submit" class="btn btn-warning" value="POST!">
    </form>
    <br>
    <h3>
        text:
        {% if hello_world_list %}
            {% for hello_world in hello_world_list %}
                {{ hello_world.text }}<br>
            {% endfor %}
        {% endif %}
        <br>
        post: {{ post }}
    </h3>
</main>

{% endblock %}