{% extends 'base.html' %}

{% block content %}

<main>
    <h1>Hello World LIST</h1>
    <br>
    <form action="/account/hello_world/" method="post">
        {% csrf_token %}
        <input type="text" name="hello_world_input">
        <br>
        <input type="submit" class="btn btn-warning" value="POST!">
    </form>
    <br>
    <h3>
        {% if hello_world_output %}
            text: {{ hello_world_output.text }}<br>
        {% endif %}
        post: {{ post }}
    </h3>
</main>

{% endblock %}